<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>82323049605-sgrpa4j29vvdc0rgbbhk9g67k4q6khm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82323049605-sgrpa4j29vvdc0rgbbhk9g67k4q6khm7</string>
	<key>API_KEY</key>
	<string>AIzaSyCUVLzG2IwPYgkPSEIxerr_iqz0EdFkqXU</string>
	<key>GCM_SENDER_ID</key>
	<string>82323049605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kevinphamdev.com.GoalPost</string>
	<key>PROJECT_ID</key>
	<string>goalpost-a08b6</string>
	<key>STORAGE_BUCKET</key>
	<string>goalpost-a08b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82323049605:ios:d401baab030eb220</string>
	<key>DATABASE_URL</key>
	<string>https://goalpost-a08b6.firebaseio.com</string>
</dict>
</plist>